# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.env.*

# =====================
# Logs
# =====================
*.log

# =====================
# OS
# =====================
.DS_Store
Thumbs.db

# =====================
# IDE
# =====================
.vscode/
.idea/

# =====================
# Test / Coverage
# =====================
.pytest_cache/
.coverage
htmlcov/

# =====================
# Docker
# =====================
*.pid